.bodySection{
    .content{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        .openBtn{
            font-size: 1.5rem;
            position: absolute;
            top: 0.5rem;
            right: 0.5rem;
        }

        .closeBtn {
            font-size: 1.75rem;
            position: absolute;
            top: 0.45rem;
            right: 0.45rem;
        }

        .formSection{
            margin: 2rem;
            background-color: rgb(3, 18, 64);
            width: 30%;
            padding: 1rem;
            border-radius: 0.5rem;
            position: absolute;
            top: 10rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            
            .decideBtn{
                display: flex;
                flex-direction: row;
                justify-content: center;

                .btn {
                        border: none;
                        background-color: transparent;
                        padding: 0.35rem;
                        margin: {
                            top: 0.5rem;
                            bottom: 0.5rem;
                            left: 0.25rem;
                            right: 0.25rem;
                        };
                        border-radius: 0.5rem;
                        font-size: 1.25rem;
                        background-color: rgb(43, 43, 43);
                    }
            }

            .line{
                width: 95%;
            }
        }
    }
}