* {
  margin: 0;
  padding: 0;
  font-family: batman2;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}

body,
html {
  height: 100%;
  width: 100%;
}

body {
  background-color: rgb(20, 20, 20);
}
body #root {
  height: 100%;
}
body #root .bodySection {
  height: 100%;
}

* {
  color: white;
}

.categorySection {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.categorySection .categoryCont {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.categorySection .categoryCont .categoryBtn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 75%;
}
.categorySection .categoryCont .categoryBtn .btn {
  border: none;
  background-color: transparent;
  padding: 0.35rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  margin-left: 0.25rem;
  margin-right: 0.25rem;
  border-radius: 0.5rem;
  font-size: 1.25rem;
  background-color: rgb(69, 69, 69);
}
.categorySection .categoryCont .createCat .input {
  color: black;
  font-size: 1rem;
  margin: 0.25rem;
}
.categorySection .categoryCont .createCat .createBtn {
  border: none;
  background-color: transparent;
  padding: 0.35rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  margin-left: 0.25rem;
  margin-right: 0.25rem;
  border-radius: 0.5rem;
  font-size: 1rem;
  background-color: rgb(69, 69, 69);
}
.categorySection .categoryCont .editCat .input {
  color: black;
  font-size: 1rem;
  margin: 0.25rem;
}
.categorySection .categoryCont .editCat .label {
  font-size: 1.25rem;
  margin-right: 0.5rem;
}
.categorySection .categoryCont .editCat .dropdown {
  color: black;
  padding: 0.1rem;
  font-size: 1.15rem;
}
.categorySection .categoryCont .editCat .deleteBtn {
  border: none;
  background-color: transparent;
  padding: 0.35rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  margin-left: 0.25rem;
  margin-right: 0.25rem;
  border-radius: 0.5rem;
  font-size: 1rem;
  background-color: rgb(69, 69, 69);
}

.taskSection {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.taskSection .taskCont {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.taskSection .taskCont .taskBtn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 75%;
}
.taskSection .taskCont .taskBtn .btn {
  border: none;
  background-color: transparent;
  padding: 0.35rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  margin-left: 0.25rem;
  margin-right: 0.25rem;
  border-radius: 0.5rem;
  font-size: 1.25rem;
  background-color: rgb(69, 69, 69);
}
.taskSection .taskCont .createTask .input {
  color: black;
  font-size: 1rem;
  margin: 0.25rem;
}
.taskSection .taskCont .createTask .createBtn {
  border: none;
  background-color: transparent;
  padding: 0.35rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  margin-left: 0.25rem;
  margin-right: 0.25rem;
  border-radius: 0.5rem;
  font-size: 1rem;
  background-color: rgb(69, 69, 69);
}
.taskSection .taskCont .createTask .label {
  font-size: 1.25rem;
  margin-right: 0.5rem;
}
.taskSection .taskCont .createTask .dropdown {
  color: black;
  padding: 0.1rem;
  font-size: 1.15rem;
}
.taskSection .taskCont .editTask .input {
  color: black;
  font-size: 1rem;
  margin: 0.25rem;
}
.taskSection .taskCont .editTask .label {
  font-size: 1.25rem;
  margin-right: 0.5rem;
}
.taskSection .taskCont .editTask .dropdown {
  color: black;
  padding: 0.1rem;
  font-size: 1.15rem;
}
.taskSection .taskCont .editTask .deleteBtn {
  border: none;
  background-color: transparent;
  padding: 0.35rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  margin-left: 0.25rem;
  margin-right: 0.25rem;
  border-radius: 0.5rem;
  font-size: 1rem;
  background-color: rgb(69, 69, 69);
}

.bodySection .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.bodySection .content .openBtn {
  font-size: 1.5rem;
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
}
.bodySection .content .closeBtn {
  font-size: 1.75rem;
  position: absolute;
  top: 0.45rem;
  right: 0.45rem;
}
.bodySection .content .formSection {
  margin: 2rem;
  background-color: rgb(3, 18, 64);
  width: 30%;
  padding: 1rem;
  border-radius: 0.5rem;
  position: absolute;
  top: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.bodySection .content .formSection .decideBtn {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.bodySection .content .formSection .decideBtn .btn {
  border: none;
  background-color: transparent;
  padding: 0.35rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  margin-left: 0.25rem;
  margin-right: 0.25rem;
  border-radius: 0.5rem;
  font-size: 1.25rem;
  background-color: rgb(43, 43, 43);
}
.bodySection .content .formSection .line {
  width: 95%;
}/*# sourceMappingURL=main.css.map */